.idea

**/metallb-ip-address-pool.yaml

# Labs
# Lab 1
namespaces.txt
# Lab 2
2.yaml
pod1-status-command.sh
# Lab 3
job.yaml
# Lab 5
token.txt
# Lab 6
6.yaml
# Lab 7
7.yaml
# Lab 9
9.yaml
# Lab 10
service_test.html
service_test.log
# Lab 11
labs/11/image/Dockerfile
**11-logs.txt
**11-containers.txt
# Lab 12
12-pv.yaml
12-pvc.yaml
12-deploy.yaml
# Lab 13
13-reason.txt
13-sc.yaml
13-pvc.yaml
# Lab 14
secret-handler-new.yaml
# Lab 16
cleaner-new.yaml
cleaner.log
# Lab 17
17-test-init-container.yaml